<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
        
    </startup>

  <system.serviceModel>
    <services>
      <service name="LibraryServiceSolution.LibraryService" behaviorConfiguration="LibraryServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9999/LibraryService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="LibraryServiceSolution.ILibraryService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LibraryServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

    <!-- Please uncomment this section if the Target Framework of this application is v4.6.2 or lower, and Visual Studio 2019 or later is used for development.
    <runtime>
       <AppContextSwitchOverrides value="Switch.System.Activities.UseMD5ForWFDebugger=false" />
    </runtime>
    -->
</configuration>
